html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

Link{
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  padding: 2vh;
  padding-right: 0px;
  padding-left: 4vw;
}

textarea {
  width: 35vw;
  resize: none;
  overflow: auto;
  background-color: #ffebcd;
  border-color: #d9572e;
  border-width: 0.75vh;
  border-style: solid;
  font-family: sans-serif;
  color: #d9572e;
  font-size: 2vw;
}

button {
  text-decoration: none;
}

#about {
  margin: 2vh 10vw 2vh 10vw;
  text-align: center;
}

#home {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat:repeat;
  background-position: center;
}

#about {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
}

#banner {
  position: fixed;
  display: block;
  transition: top 0.5s;
  display: flex;
  background-color: #f97623;
  padding: 2vh;
  padding: 0px;
  width: 100%;
  z-index: 3;
  height: 18vh;
}

#HomeImage {
  background-image: url('images/lameimage.jpg');
  background-size: cover;
  height: 100vh;
}

#SoupLay {
  position: absolute;
  top: 0;
  left: -20%;
  z-index: -1;
  width: 90vw;
}

#SoupPlant {
  margin-bottom: 0;
  padding-bottom: 0;
  height: 160%;
  object-fit: cover;
}

#Chart {
  padding: 5vh 7.5vw 5vh 7.5vw;
}

#HomeFooter {
  background-color: #ffebcd ;
}

.MidHeader {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 5vw;
  color: #ff9e5e;
  text-align: left;
  text-shadow: -0.4vw 0.4vh 0px #d9572e;
  font-weight: 900;
  z-index: 2;
  margin-top: 6%;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 0;
}

.BigHeader {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 7vw;
  color: #ff9e5e;
  text-align: left;
  text-shadow: -0.4vw 0.4vh 0px #d9572e;
  font-weight: 900;
  z-index: 2;
  margin-top: 6%;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 0;
}

.HugeHeader {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 9vw;
  color: #ff9e5e;
  text-align: left;
  padding-left: 15%;
  padding-top: 30vh;
  text-shadow: -1vw 1vh 0px #d9572e;
  font-weight: 900;
  z-index: 2;
}

.MidText {
  font-family: sans-serif;
  font-size: 2vw;
  color: #d9572e;
  font-weight: 100;
  margin: 3%;
  margin-right: 12%;
  margin-left: 12%;

}

.SmallText {
  font-family: sans-serif;
  font-size: 1.5vw;
  color: #d9572e;
  font-weight: 100;
  margin: 3%;
  margin-right: 12%;
  margin-left: 12%;

}

nav {
  display: flex;
  background-color: #f97623;
  margin: 0px;
  width: 100%;
  transition: top 0.3s;

}

.App {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0px;
}

.Slogan {
  width: 20vw;
  margin: 0px 2vw 0px 2vw;
  margin-top: auto;
  margin-bottom: auto;
  color: white;
  font-family: 'Bagel Fat One', sans-serif;
  font-size: 2.25vw;
}

.LinkStyles {
  flex: 1;
  text-decoration: none;
}

nav .LinkStyles div {
  min-height: 100%;
  width: 100%;
  background-color: #f97623;
  border-width: 0px;
  font-size: 2vw;
  font-family: 'Fredoka One', sans-serif;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .LinkStyles div:hover {
  background-color: #d9572e	;
  color: white;
}

nav .LinkStyles div:active {
  font-size: 2.25vw;
  transform: scale(1);
  
}

.Overlay {
  opacity: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.profileHeader{
  font-family: 'Fredoka One', sans-serif;
  font-size: 3vw;
  font-weight: 900;
  color: #d9572e;
  text-align: left;
  margin-left: 12%;
  margin-top: 8%;

}

.profile {
  border-radius: 50%;
  min-width: 30vw;
	
	animation: morph 10s linear infinite alternate;
}

.secondThird {
  margin-left: 20vw;
  margin-right: 20vw;
}

.inputBox {
  height: 7.5vh;
  width: 35vw;
  background-color: #ffebcd;
  border-color: #d9572e;
  border-width: 0.75vh;
  border-style: solid;
  font-family: sans-serif;
  color: #d9572e;
  font-size: 2vw;
}

.bigButton {
  height: 8vh;
  width: 25vw;
  margin: auto;
  margin-top: 10vh;
  margin-bottom: 25vh;
  background-color: #fff4e3;
  border-color: #d9572e;
  border-width: 0.75vh;
  border-style: solid;
  font-family: 'Bagel Fat One', sans-serif;
  border-radius: 100px;
  color: #d9572e;
  font-weight: 900;
  font-size: 2vw;
}

.hugeLink {
    height: 12.5vh;
    width: 45vw;
    margin: auto;
    margin-top: 15vh;
    margin-bottom: 25vh;
    background-color: #fff4e3;
    border-color: #d9572e;
    border-width: 0.75vh;
    border-style: solid;
    font-family: 'Bagel Fat One', sans-serif;
    border-radius: 100px;
    color: #d9572e;
    font-weight: 900;
    font-size: 3.5vw;
    flex-grow: 0;
}

button:hover,
.hugeLink:hover {
  border-color: green;
  color: green;
}

button:active,
.hugeLink:active {
  transform: scale(1.2);
}

.fullImage{
  margin: 0;
  padding: 0;
  width: 100vw;
  max-height: 100vh;
}

.topElement {
  padding-top: 18vh;
}

.VectorSection {
  display: flex;
  flex-direction: row;
  margin: 0 12%;
  text-align: left;
}

.VectorArt {
  display: flex;
  width: 15vw;
  object-fit: contain;
  align-items: center;
  justify-items: center;
}

.VectorSection p {
  margin: 5%;
  min-width: 15%;
}

@keyframes morph {
  0% {
    border-radius: 40% 60% 60% 40% / 60% 30% 60% 30%;
  }
  50% {
    border-radius: 50%;
  }
  100% {
    border-radius: 40% 60%;
  }
}

::-webkit-resizer {
  background-image: url('images/Resizer.png');
  background-size: contain;
}